body { 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

    
}
button{
background-color: blue;
color: antiquewhite;
font-family:"bai jamjure", sans-serif ;
}

.passo{

    display: none;
}
